
@font-face {
    font-family: DaddyTime;
    src: url("DaddyTimeMonoNerdFontMono-Regular.ttf");
  }

  @font-face {
    font-family: bodyFont;
    src: url("RecMonoLinearNerdFontPropo-Regular.ttf");
  }

  body{
    font-family: bodyFont;
  }

/* @font-face {
    font-family: "DaddyTime";
    font-style: normal;
    font-weight: normal;
    src: local("DaddyTime Mono Nerd Font Mono-Regular"), url("DaddyTimeMonoNerdFontMono-Regular.ttf") format("ttf");
  } */


#borderimg {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30 round;
}

/*_____________ divs _____________*/
:root{
    --bg-color: #9c90e1;
    --h1-bg-color: #9c90e1;
    --h2-bg-color: #4f4974;
    --full-bg-color: rgb(229, 224, 213);
    --link-color: #f3ed96e7;
}

h1{
    margin-top:0px;
    color: var(--h1-bg-color);
    font-size: 50px;
}

h2{
    margin-top:0px;
    margin-left: 10px;
    color: var(--h2-bg-color);
    font-size: 30px;
}


figcaption {
  text-align: center;
}

#wid1 {
    margin-right: 0px;
    margin-left: 0px;
    border : 0px solid black;
    min-height:470px
}

#wid2 {
    margin-right: 40px;
    margin-left: 30px;
}


ul {
  padding-left: 300px;
}

#wrapper {
  display: flex;
}

#left {
  flex: 0 0 85%;
}

#right {
  flex: 1;
}

#footnotes {
  margin-top: 430px;
  font-size: 14px;
  text-align: center;
  color: #4f4974;
}

.navbar a {
    color: var(--link-color);
    text-decoration: none;
  }
.navbar a:hover {
    background-color: var(--link-color);
    color:var(--bg-color);
  }

a {
    color: var(--bg-color);
    text-decoration: none;
  }
  a:hover {
    background-color: var(--link-color);
    color:var(--bg-color);
  }

.navbar webring {
    margin-top: 0px;
    margin-left: 0px;
    width: 20%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: DaddyTime;
    font-size: 10px;
    color: var(--bg-color);
    background-color: var(--h1-bg-color);
    border-radius: 10px;
    padding: 10px;
}

body{
    margin-top:0px;
    margin-left:0px;
    background-color: var(--full-bg-color);
    }

.navbar{
    float: left;
    width: 470px;
    height: 470px;
    display: flex;
    justify-content: center;
    color: rgb(233, 148, 165);
    background-color: var(--bg-color);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 30px;
    font-size: 70px;
    font-family: bodyFont;
}
